/* Header Styling */
#header {
    background-color: LightGray; /* Light gray background */
    text-align: center;
    padding: 20px;
}

/* Footer Styling */
#footer {
    background-color: LightGray; /* Light gray background */
    text-align: center;
    padding: 10px;
}

/* Menu Styling */
#menu {
    background-color: #333333; /* Dark gray background */
    text-align: center;
}
#menu ul {
    list-style-type: none;
    padding: 0;
}
#menu ul li {
    display: inline;
    margin-right: 10px;
}
#menu ul li a {
    color: white;
    text-decoration: none;
}

/* Content Styling */
#content {
    background-color: LightGray; /* Light gray background */
    padding: 20px;
}
